<section class="todo-header">
    <h1>Todo</h1>
    <div (click)="onMenu()">
        <span class="glyphicon  glyphicon-menu-hamburger"></span>
    </div>
</section>
<section class="todo-nav" *ngIf="toggleMenu">
    <div (click)="onMenu()"></div>
    <nav class="todo-nav">
        <ul>
            <li routerLinkActive="active-link">
                <a routerLink="/home/list">
                    <span class="glyphicon glyphicon-ok"></span>&nbsp;&nbsp; Todo List
                </a>
            </li>
            <li routerLinkActive="active-link">
                <a routerLink="/home/list1">
                    <span class="glyphicon glyphicon-check"></span>&nbsp;&nbsp; Completed List
                </a>
            </li>
            <li routerLinkActive="active-link">
                <a routerLink="/home/list2">
                    <span class="glyphicon glyphicon-cog"></span>&nbsp;&nbsp; Settings
                </a>
            </li>
            <li routerLinkActive="active-link">
                <a routerLink="/home/list3">
                    <span class="glyphicon glyphicon-log-in"></span>&nbsp;&nbsp; Login
                </a>
            </li>
        </ul>
    </nav>        
</section>